<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header' style="padding: 5px">
            <img style="width: 18px; vertical-align: text-bottom;" src="./../../../../resources/ColorLogo.png">
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a style="float: none; padding:0" class='navbar-brand' [routerLink]="['/home']">T2T</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Getting Started
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/sync']">
                        <span class='glyphicon glyphicon-cloud-upload'></span> Synchronization
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/config']">
                        <span class='glyphicon glyphicon-cog'></span> Configuration
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
